.form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.welcome {
    font-size: 1.3em;
    text-align: center;
    color: #5b5bbe;
}

.card {
    border-radius: 15px !important;
}

.btnLogin {
    margin-top: 30px;
}